@import 'add/variable';
@import 'add/mixins';
@font-face {
    font-family: test;
    src: url(../assets/AbrilFatface-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.desktop{
    position: fixed;
    width: 100%;
    height: 55px;
    line-height: 6vh;
    z-index: 3;
    background: rgba( 177, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );

        ul{
            display: flex;
            list-style: none;
            gap: 60px;
            margin-left: 20%;
            li:last-child{
                margin-left:auto;
                margin-right:6vw;
            }
            a{
                color:rgb(255, 255, 255);
                text-decoration: none;
                font-size: 1rem;
            }
        } 
}
.mobile{
    display: none;
}


body{
    background: rgb(45,54,253);
    background: linear-gradient(0deg, rgba(45,54,253,1) 0%, rgba(34,193,195,1) 100%);
    background-position: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}

.me{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .tout{
        display: flex;
        width: 80%;
        height: auto;
        gap: 50px;
        .presentation{
            margin-top: 30vh;
            width: 50%;
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 2rem;
                margin-left: 2%;
                font-weight: initial;
            }
            p{
                margin-top: 15px;
                margin-left: 2%;
            }
            .button{
                display: flex;
                margin-left: 2%;
                margin-top: 20px;
                gap: 15px;
                .btn {
                    background: transparent;
                    text-decoration: none;
                    padding: 10px 10px;
                    border-radius: 3px;
                    border: 2px solid rgb(255, 255, 255);
                    color: rgb(255, 255, 255);
                    transition: all 0.2s ease-in-out;
                }
                
                .btn:hover{
                    border: 2px solid rgb(243, 120, 20);;
                    color:rgb(243, 120, 20);
                }
            }
        }
        .media{
            display: flex;
            margin-left: 2%;
            margin-top: 60px;
            justify-content: end;
            gap: 10px;
        }
        .matete{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin: 0 auto;
                width: 65%;
             }
        }
    }
}

.test2{
    padding-top: 10vh;
    font-size: 5rem;
    transform:rotate(-40deg);
}
.s1{
    display: flex;
    justify-content: center;
    width: 100vw;
    .s2{
        z-index: 1;
        padding-top: 18vh;
        height: max-content;
        width: 60vw;
        background: rgba(255, 255, 255, 0.35);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.4px);
        -webkit-backdrop-filter: blur(8.4px);
        border: 1px solid rgba(100, 162, 255, 0.3);
        display: flex;
        gap: 10px;
        padding: 1%;
        .containerlogo{
            display: flex;
            flex-direction: column;
            place-items:center;
            gap: 20%;
            &>div{
                display: flex;
                place-items: center;
                justify-content: center;
                gap: 50%;
            }
            img{
                height: 50px;
            }
        }
        img{
            opacity: 0.6;
            border-radius: 10px;
            width: 50%;
            object-fit: contain;
        }
        p{
            width: 100%;
        }
    }
}

.imgexp{
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    width: 100%;
    img{
        width: 400px;
        @include for-mobiles{
            width: 300px;
        }
    }
}

.competence{
    width: 90%;
    display: flex;
    margin: 16vh auto;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    @include for-mobiles{
        width: 100%;
    }
    h2{
        text-align: center;
        font-size: 3rem;
    }
    .grid{
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 10vh auto;
        gap: 64px;
        
        @include for-tablets{
            grid-template-columns: repeat(2, 1fr);
        }
        @include for-mobiles{
            grid-template-columns: repeat(1, 1fr);
            gap: 16px;
        }
        .content{
            height: 500px;
            width: 400px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            @include for-mobiles{
                width: 300px;
                height: 400px;
            }

            img{
                border-radius: 10px;
                object-fit: contain;
                height: 50%;
            }
            p{
                text-align: center;
                padding: 2%;
            }
        }
    }
}

footer{
    background-color: black;
    height: 40px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    :root{
        font-size: 11px;
    }

    .desktop{
        display: none;
    }
    
    .mobile{
        display: flex;
        flex-direction: column;
        z-index: 3;
    }
    .burger{
        display: flex;
        flex-direction: column;
        gap: 5px;
        transform: rotate(0deg);
        width: 50px;
        position: absolute;
        z-index: 2; 
        transition: 0.3s;
    }

    .rod{
        width: 50px;
        height: 8px;
        border-radius: 20px;
        background-color: white;
    }

    .mobile nav{
        display: none;
        width: 100%;
        list-style: none;
        position: absolute;
        right: 0;
        background-color: rgb(26, 26, 26, 0.30);
        opacity: 0.7;
        li{
            text-align: center;
            a{
                display: block;
                width: 100%;
                background-color: #1a1a1a;
                font-size: 30px;
                text-decoration: none;
                color: rgb(189, 189, 189);
                padding: 3% 0;
                text-align: center;
                
            } 
        }
        .mobile li:first-child{
            padding-top: 125px;
            background-color: #1a1a1a;
        }
    }
    .tout{
        flex-direction: column;
        width: 700px !important;
        align-items: center;
        text-align:center;
        .presentation{
            margin-top: 50px !important;
        }
        .button{
            justify-content: center;
        }
    }
    .test2{  
        width: max-content;
        font-size: 2rem!important;
    }
    .s1{
        .s2{
            width: 90%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 60px  !important;
            margin: 0 auto;
            .containerlogo{
                img{
                    height: px;
                }
            }
            p{
                width: 100%;
            }
        }
    }
}