@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
:root {
  font-size: 16px;
  color: white;
}

.red {
  color: #f37814;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@font-face {
  font-family: test;
  src: url(../assets/AbrilFatface-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.desktop {
  position: fixed;
  width: 100%;
  height: 69px;
  line-height: 6vh;
<<<<<<< HEAD
<<<<<<< HEAD
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.5);
  background-color: #143056;
=======
=======
>>>>>>> 6e10018122f5e69878ebcc9887608c898264dc92
  z-index: 3;
  background: rgba(177, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
<<<<<<< HEAD
>>>>>>> 6e10018122f5e69878ebcc9887608c898264dc92
=======
>>>>>>> 6e10018122f5e69878ebcc9887608c898264dc92
}
.desktop ul {
  display: flex;
  list-style: none;
  gap: 60px;
  margin-left: 139px;
  height: 69px;
}
.desktop ul li {
  display: table;
  text-align: center;
}
.desktop ul li:last-child {
  margin-left: auto;
  margin-right: 6vw;
  border-radius: 25px 25px 25px 25px;
  width: auto;
}
.desktop ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.desktop ul a span {
  background-color: #B9D6EB;
  border-radius: 25px 25px 25px;
  padding: 10px;
}

.mobile {
  display: none;
}

body {
  background: #2d36fd;
  background: linear-gradient(0deg, #2d36fd 0%, #22c1c3 100%);
  background-position: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

.me {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.me .tout {
  display: flex;
  width: 80%;
  height: auto;
  gap: 50px;
}
.me .tout .presentation {
  margin-top: 30vh;
  width: 50%;
}
.me .tout .presentation h1 {
  font-size: 5rem;
}
.me .tout .presentation h2 {
  font-size: 2rem;
  margin-left: 2%;
  font-weight: initial;
}
.me .tout .presentation p {
  margin-top: 15px;
  margin-left: 2%;
}
.me .tout .presentation .button {
  display: flex;
  margin-left: 2%;
  margin-top: 20px;
  gap: 15px;
}
.me .tout .presentation .button .btn {
  background: transparent;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 3px;
  border: 2px solid white;
  color: white;
  transition: all 0.2s ease-in-out;
}
.me .tout .presentation .button .btn:hover {
  border: 2px solid #f37814;
  color: #f37814;
}
.me .tout .media {
  display: flex;
  margin-left: 2%;
  margin-top: 60px;
  justify-content: end;
  gap: 10px;
}
.me .tout .matete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.me .tout .matete img {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.test2 {
  padding-top: 10vh;
  font-size: 5rem;
  transform: rotate(-40deg);
}

.s1 {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.s1 .s2 {
  z-index: 1;
  padding-top: 18vh;
  height: max-content;
  width: 60vw;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(100, 162, 255, 0.3);
  display: flex;
  gap: 10px;
  padding: 1%;
}
.s1 .s2 .containerlogo {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 20%;
}
.s1 .s2 .containerlogo > div {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 50%;
}
@media screen and (max-width: 1024px) {
  .s1 .s2 .containerlogo > div {
    gap: 20%;
  }
}
.s1 .s2 .containerlogo img {
  height: 50px;
}
.s1 .s2 img {
  opacity: 0.6;
  border-radius: 10px;
  width: 80%;
  object-fit: contain;
  height: 500px;
}
.s1 .s2 p {
  width: 100%;
}

.imgexp {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
  width: 100%;
}
.imgexp img {
  width: 400px;
}
@media screen and (max-width: 800px) {
  .imgexp img {
    width: 300px;
  }
}

.competence {
  width: 90%;
  display: flex;
  margin: 16vh auto;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .competence {
    width: 100%;
  }
}
.competence h2 {
  text-align: center;
  font-size: 3rem;
}
.competence .grid {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10vh auto;
  gap: 64px;
}
@media screen and (max-width: 1024px) {
  .competence .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .competence .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.competence .grid .content {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .competence .grid .content {
    width: 300px;
    height: 400px;
  }
}
.competence .grid .content img {
  border-radius: 10px;
  object-fit: contain;
  height: 50%;
}
.competence .grid .content p {
  text-align: center;
  padding: 2%;
}

.contactme {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactme h1 {
  padding-top: 30vh;
  font-size: 3rem;
  text-align: center;
}
.contactme .form-style {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.contactme .field-textarea {
  height: 200px;
  width: 400px;
}
@media screen and (max-width: 800px) {
  .contactme .field-textarea {
    height: 100px;
    width: 200px;
  }
}

footer {
  background-color: black;
  height: 40px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 11px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: rotate(0deg);
    width: 50px;
    position: absolute;
    z-index: 2;
    transition: 0.3s;
  }

  .rod {
    width: 50px;
    height: 8px;
    border-radius: 20px;
    background-color: white;
  }

  .mobile nav {
    display: none;
    width: 100%;
    list-style: none;
    position: absolute;
    right: 0;
    background-color: rgba(26, 26, 26, 0.3);
    opacity: 0.7;
  }
  .mobile nav li {
    text-align: center;
  }
  .mobile nav li a {
    display: block;
    width: 100%;
    background-color: #1a1a1a;
    font-size: 30px;
    text-decoration: none;
    color: #bdbdbd;
    padding: 3% 0;
    text-align: center;
  }
  .mobile nav .mobile li:first-child {
    padding-top: 125px;
    background-color: #1a1a1a;
  }

  .tout {
    flex-direction: column;
    width: 700px !important;
    align-items: center;
    text-align: center;
  }
  .tout .presentation {
    margin-top: 50px !important;
  }
  .tout .button {
    justify-content: center;
  }

  .test2 {
    width: max-content;
    font-size: 2rem !important;
  }

  .s1 .s2 {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px !important;
    margin: 0 auto;
  }
  .s1 .s2 .containerlogo img {
    height: px;
  }
  .s1 .s2 p {
    width: 100%;
  }
}